<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label>Format:</label>
          <input type="text" class="form-control" [(ngModel)]="format" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label>Index 0 Input:</label>
          <textarea class="form-control" [(ngModel)]="input1" style="min-height:100px;"></textarea>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label>Index 1 Input:</label>
          <textarea class="form-control" [(ngModel)]="input2" style="min-height:100px;"></textarea>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label>Index 2 Input:</label>
          <textarea class="form-control" [(ngModel)]="input3" style="min-height:100px;"></textarea>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary btn-sm" (click)="generate();">Generate</button>
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label>Response:</label>
          <textarea class="form-control" [(ngModel)]="response" style="min-height:100px;"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>